@{
    ViewBag.Title = "Pagina Inicial";
}

<div class="row-fluid">
    @Html.ValidationSummary(true)
    <h3>Usted puede:</h3>
    <ol class="round">
        <li class="one">
            <h5>Primera vez que usa el software?</h5>
            Si usted es un usuario nuevo puede consultar la <a href="~/Content/pdf/Ayuda.pdf">Ayuda</a> donde podra
            aprender como utilizar esta aplicación web.
        </li>

        <li class="two">
            <h5>Visite Azcuba</h5>
            Usted puede vitar la <a href="http://www.azcuba.cu">página principal de Azcuba</a> siguiendo el enlace.
        
        </li>
    </ol>
</div>
