@model GestionZafra.Models.CentrosRecepcion

@{
    ViewBag.Title = "Eliminar";
}
<h3>Esta seguro que desea eliminar este Centro de Recepcion?</h3>
<fieldset class="data-fluid">
    <legend>Centros de Recepcion</legend>

    <div class="row-form">
        @Html.DisplayNameFor(model => model.nombreCentroRecepcion):
        <div class="label label-warning">
            @Html.DisplayFor(model => model.nombreCentroRecepcion)
        </div>
    </div>

</fieldset>
<div class="span5">
    @using (Html.BeginForm())
    {
        <div class="toolbar bottom tar">
            @Html.ActionLink("Lista de Centros de Recepcion", "Index",null,new{Class="btn"})
            <input class="btn btn-danger" type="submit" value="Eliminar" />
        </div>
    }
</div>
